

.inner-card {
    padding-top: 20px;
    padding-bottom: 20px;
    height: 350px;
    display: flex;
    flex-wrap: wrap;
    
}

.card {
    transform: scale(1);
    transition: transform .3s ease;
}

.card:hover {
    transform: scale(1.05);
    cursor: pointer;
    transition: transform .3s ease;
}

.break {
    width: 100%;
    
}

h3 {
    flex: 0 1 auto;
    width: 100%;
}

.img-wrapper {
    height: 100%;
    flex: 1 1 auto;
}
