.movies {
    display : grid;
    grid-template-columns: .8fr .8fr .8fr;
    grid-template-rows: auto;
    row-gap: 15px;
    column-gap: 15px;
}

.relative {
    position: relative;
}

.card {
    width: 90%;
}

.inner-card {
    padding-top: 20px;
    padding-bottom: 20px;
}



#nav-add {
    position: absolute;
}
