#add-form {
    display: grid;
    grid-template-columns: 1fr;
    width: 80%;
    margin: auto;
}

.input-container {
    margin-bottom: 10px;
    width: 100%;
}

.input-field::after {
    content: '';
    height: 30px;
}